<body>
  <div class="py-5" >
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-left">History</h1>
        <%= link_to 'Create New', new_amplifier_path, class: 'btn btn-primary' %>
      </div>
      <div class="row" id="amplifiers_list">
        <% @amplifiers.each do |amplifier| %>
          <%= render partial: "amplifier", locals: { amplifier: amplifier } %>
        <% end %>
      </div>
      <%= render partial: "pagination" %>
  </div>
 </div>
</body>
