<h1>Amplifiers History</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @amplifiers.each do |amplifier| %>
      <tr>
        <td><%= amplifier.title %></td>
        <td><%= amplifier.description %></td>
        <td><%= amplifier.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
